<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">

    <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Symphony Tools</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">

    <ul class="nav navbar-nav">
      <li ng-class="{active: vm.state.is('app')}"><a ui-sref="app">Dashboard</a></li>

<li ng-class="{active: vm.state.includes('app.leave')}" dropdown>
        <a href="#" dropdown-toggle>Leave<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li ng-class="{active: vm.state.is('app.leave.add')}"><a ui-sref="app.leave.add">New Leave Request</a></li>
          <li ng-class="{active: vm.state.is('app.leave')}"><a ui-sref="app.leave">Review Requests</a></li>
        </ul>
      </li>

      <li ng-class="{active: vm.state.includes('app.perdiem')}" dropdown>
        <a href="#" dropdown-toggle>Per Diem<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">This Month</a></li>
          <li><a href="#">Last Month</a></li>
          <li><a href="#">Review All</a></li>
        </ul>
      </li>

    </ul>

    </form>
    <ul class="nav navbar-nav navbar-right">

      <li ng-class="{active: vm.state.includes('app.profile')}"><a ui-sref="app.profile">Profile</a></li>

      <li ng-show="isAdmin" ng-class="{active: vm.state.includes('app.admin')}" dropdown>
        <a href="#" dropdown-toggle>Admin<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li ng-class="{active: vm.state.is('app.admin')}"><a ui-sref="app.admin">Dashboard</a></li>
          <li ng-class="{active: vm.state.is('app.admin.leave')}"><a ui-sref="app.admin.leave">Leave</a></li>
          <li ng-class="{active: vm.state.is('app.admin.users')}"><a ui-sref="app.admin.users">Manage Users</a></li>
          <li ng-class="{active: vm.state.is('app.admin.perdiem')}"><a ui-sref="app.admin.perdiem">Per Diem</a></li>
        </ul>
      </li>

      <li ng-click="vm.reqLogout()"><a href="#">Logout</a></li>

    </ul>
  </div>
</nav>
