<div class="container">

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Leave Balance</h4>
      </div>
      <div class="panel-body">
        <h3>
          <span class="label label-default">{{ vm.daysLeaveAvail | number:1 }} Days</span>
        </h3>
        <button class="btn btn-primary" ng-click="vm.openLeaveModel()">New Request</button>
      </div>

    </div>

  </div>


  <div class="col-md-9">
    <h4>Pending Leave Requests</h4>
    <p ng-hide="vm.pendingTableData">
      <em>There are no pending leave requests.</em>
    </p>
    <table ng-show="vm.pendingTableData" class="table">
      <thead>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Days</th>
        <th>Status</th>
      </thead>
      <tbody>
        <tr ng-repeat="data in vm.pendingTableData">
          <td>{{ data.startDate | formatDate:'MMM-DD-YYYY'}}</td>
          <td>{{ data.endDate | formatDate:'MMM-DD-YYYY'}}</td>
          <td>{{ vm.DateCalc.daysBetweenDates(data.startDate, data.endDate) }}</td>
          <td>{{ data.status }}</td>
        </tr>
      </tbody>
    </table>

    <hr>

    <h4>Closed Leave Requests</h4>
    <p ng-hide="vm.closedTableData">
      <em>There are no closed leave requests</em>
    </p>
    <table ng-show="vm.closedTableData" class="table">
      <thead>
        <tr>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Days</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in vm.closedTableData">
          <td>{{ data.startDate | formatDate:'MMM-DD-YYYY'}}</td>
          <td>{{ data.endDate | formatDate:'MMM-DD-YYYY'}}</td>
          <td>{{ vm.DateCalc.daysBetweenDates(data.startDate, data.endDate) }}</td>
          <td>{{ data.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
