<div class="modal-header">
  <h4>New Leave Request</h4>
</div>

<div class="modal-body">
  <form class="form">
    <!-- TODO: type date not widely supported -->

    <label>Start Date
    <input ng-model="vm.leaveReq.startDate" type="date"></label>
    <label>End Date
    <input ng-model="vm.leaveReq.endDate" type="date"></label>
  </form>
  <!-- TODO: fix day/days with a filter -->
 <h5>From {{ vm.leaveReq.startDate | formatDate:'DD-MMM-YYYY' }} to {{ vm.leaveReq.endDate | formatDate:'DD-MMM-YYYY'  }} which is {{ vm.DateCalc.daysBetweenDates(vm.leaveReq.startDate, vm.leaveReq.endDate) }} days.</h5>
<h5>You will back on duty {{ vm.addOneDay(vm.leaveReq.endDate) | formatDate:'DD-MMM-YYYY' }}</h5>
</div>

<div class="modal-footer">
  <button ng-click="vm.cancel()" class="btn btn-warning">Cancel</button>
  <button ng-click="vm.ok()" class="btn btn-primary">Submit</button>
</div>
