<h4>List of Users</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email

        </td>
      </th>
      <th>Crew</th>
      <th>Active</th>
      <th>Tools</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(idx, user) in vm.allUsers">
      <td> {{ user.name }} </td>
      <td>
        {{ user.email }}
      </td>
      <td>
        <form>
          <input type="checkbox" ng-model="user.isCrew" ng-click="vm.toggleIsCrew(user.isCrew, idx)" ng-checked="user.isCrew">

          </th>
        </form>
      </td>
      <td>
        <form>
          <input type="checkbox" ng-model="user.isActive" ng-click="vm.toggleIsActive(user.isActive, idx)" ng-checked="user.isActive">
        </form>
      </td>
      <td>
        <button ng-click="vm.resetPassword(user.email)" class="btn btn-primary btn-sm">
          Reset Password</button>
      </td>
    </tr>
  </tbody>
</table>

<h4>Create New User</h4>

<form ng-submit="vm.submitCreateUser()" class="form" name="createUser" novalidate>
  <div class="form-group">
    <label for="email">Email address</label>
    <input ng-model="vm.createUser.email" type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="name">Full name</label>
    <input ng-model="vm.createUser.name" type="text" class="form-control" id="name">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input ng-model="vm.createUser.password" type="password" class="form-control" id="password">
  </div>
  <div class="checkbox">
    <label>
      <input ng-model="vm.createUser.isCrew" type="checkbox"> Crew
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input ng-model="vm.createUser.isAdmin" type="checkbox"> Administrator
    </label>
  </div>
  <button type="submit" class="btn btn-default">Create User</button>
</form>
