

<p>
  <table class="table tablestriped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Hired</th>
        <th>Total Leave</th>
        <th>Accural Rate</th>
        <th>Leave Balance</th>
        <th>Pending Requets</th>
        <th>Tools</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(key, data) in vm.tableData">
        <!-- TODO: replace with name -->
        <td>{{ data.name }}</td>
        <td>{{ data.hireDate | formatDate:'DD-MMM-YYYY' }}</td>
        <td>{{ data.totalLeaveAccured | number: 1}} days</td>
        <td>{{ data.leaveRate}} / yr</td>
        <td>{{ data.daysLeaveAvail | number:1 }}</td>
        <td>{{ data.pendingReq }}</td>
        <td><a ui-sref="app.admin.leave.detail({ uid : key })"><button class="btn btn-primary">See Requests</button></td></a>
      </tr>
    </tbody>
  </table>
</p>
