<!--- TODO: more info about remaining leave needed for approve / reject -->

<h3>Viewing Leave Requests for {{ vm.name }}</h3>
<hr>
<h4>Pending Leave Requests</h4>
<p ng-hide="vm.pendingTableData">
  <em>There are no pending leave requests.</em>
</p>

<table ng-show="vm.pendingTableData" class="table">
  <thead>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Days</th>
    <th>Status</th>
    <th></th>
  </thead>
  <tbody>
    <tr ng-repeat="data in vm.pendingTableData">
      <td>{{ data.startDate | formatDate:'MMM-DD-YYYY'}}</td>
      <td>{{ data.endDate | formatDate:'MMM-DD-YYYY'}}</td>
      <td>{{ vm.DateCalc.daysBetweenDates(data.startDate, data.endDate) }}</td>
      <td>{{ data.status }}</td>
      <td>
        <a ng-click="vm.changeLeaveStatus(vm.uid, 'approved', data.key)"><button type="button" class="btn btn-success btn-sm">Approve</button></a>
        <a ng-click="vm.changeLeaveStatus(vm.uid, 'rejected', data.key)"><button type="button" class="btn btn-danger btn-sm">Reject</button></a>
        </td>
    </tr>
  </tbody>
</table>

<h4>Closed Leave Requests</h4>
<p ng-hide="vm.closedTableData">
  <em>There are no closed leave requests</em>
</p>
<table ng-show="vm.closedTableData" class="table">
  <thead>
    <tr>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Days</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="data in vm.closedTableData">
      <td>{{ data.startDate | formatDate:'MMM-DD-YYYY'}}</td>
      <td>{{ data.endDate | formatDate:'MMM-DD-YYYY'}}</td>
      <td>{{ vm.DateCalc.daysBetweenDates(data.startDate, data.endDate) }}</td>
      <td>{{ data.status }}</td>
      <td><a ng-click="vm.changeLeaveStatus(vm.uid, 'pending', data.key)"><button class="btn btn-primary btn-sm">Mark Pending</button></a></td>
    </tr>
  </tbody>
</table>
