<div class="row login-form">
  <div class="col-md-offset-3 col-md-6">
    <div class="panel panel-primary ">
      <div class="panel-heading">
        <h3 class="panel-title">Password Reset</h3>
      </div>
      <div class="panel-body">
        <form name="passwordResetForm" ng-submit="vm.submit()">
          <h5>Enter your email address and a temporary password will be sent.</h5>
          <div class="form-group">
            <label for="Email">Email address</label>
            <input tabindex="1" autofocus ng-model="vm.email" type="email" name="emailAddress" class="form-control" required>
          </div>

          <button tabindex="3" type="submit" class="btn btn-primary pull-right">Reset</button>

          <div ng-if="loginForm.emailAddress.$dirty" ng-messages="loginForm.emailAddress.$error" ng-messages-include="./app/components/common/error-messages.html">
          </div>
          <div ng-if="loginForm.password.$dirty" ng-messages="loginForm.password.$error" ng-messages-include="./app/components/common/error-messages.html">
          </div>
        </form>
      </div>
    </div>
  </div>
  <div>
