<div class="row login-form">
  <div class="col-md-offset-3 col-md-6">
    <div class="panel panel-primary ">
      <div class="panel-heading">
        <h3 class="panel-title">Welcome Back</h3>
      </div>
      <div class="panel-body">
        <form name="loginForm" ng-submit="vm.submit()">
          <div class="form-group">
            <label for="Email">Email address</label>
            <input tabindex="1" autofocus ng-model="vm.email" type="email" name="emailAddress" class="form-control" required>
          </div>
          <div class="form-group">
            <a tabindex="-1" class="pull-right" ui-sref="forgotpassword">Forgot password?</a>
            <label for="Password">Password</label>
            <input tabindex="2" ng-model="vm.password" type="password" name="password" class="form-control" required>
          </div>
          <button tabindex="3" type="submit" class="btn btn-primary pull-right">Submit</button>

          <div ng-if="loginForm.emailAddress.$dirty" ng-messages="loginForm.emailAddress.$error" ng-messages-include="./app/components/common/error-messages.html">
          </div>
          <div ng-if="loginForm.password.$dirty" ng-messages="loginForm.password.$error" ng-messages-include="./app/components/common/error-messages.html">
          </div>
        </form>
      </div>
    </div>
  </div>
  <div>
