body {
  background: url(../../../assets/images/dubaiapt.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100%;
  background-color: #222;
}

/* Login Form
------------------------------------------------*/
.login-form {
  margin-top: 15px;
}
