<h4>Change Password</h4>

<form name="loginForm" ng-submit="vm.changePassword()">
  <div class="form-group">
    <label for="CurrentPassword">Currnet Password</label>
    <input ng-model="vm.passwordReset.currentPassword" type="password" name="currentPassword" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="CurrentPassword">New Password</label>
    <input ng-model="vm.passwordReset.newPassword0" type="password" name="newPassword0" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="CurrentPassword">Confirm New Password</label>
    <input ng-model="vm.passwordReset.newPassword1" type="password" name="newPassword1" class="form-control" required>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Change Password</button>
  </div>
  <!--   <div ng-if="loginForm.emailAddress.$dirty" ng-messages="loginForm.emailAddress.$error" ng-messages-include="./app/components/common/error-messages.html">
</div>
<div ng-if="loginForm.password.$dirty" ng-messages="loginForm.password.$error" ng-messages-include="./app/components/common/error-messages.html">
</div> -->
</form>
